<div class="container">
    <img src="assets/imgs/eu.png" alt="Foto Willian Nicoletti">
    <div class="apresentacao">
        <h1>Olá, eu sou o Willian</h1>
        <p>Desenvolvedor Front-End</p>
    </div>
</div>

<ul class="icons">
    <li><img src="assets/icons/html.png" alt="HTML5"></li>
    <li><img src="assets/icons/css.png" alt="CSS3"></li>
    <li><img src="assets/icons/javascript.png" alt="JavaScript"></li>
    <li><img src="assets/icons/ts.png" alt="TypeScript"></li>
    <li><img src="assets/icons/angular.png" alt="Angular"></li>
    <li><img src="assets/icons/node.png" alt="NodeJS" class="node"></li>
</ul>