<section id="aboutMe">
    <h2>Um pouco mais sobre mim</h2>
    <div class="ambas">
        <div class="experiencia">
            <p> Desde criança, já tinha uma base do que é programar e desenvolver. Tive meu primeiro contato com uma linguagem de programação (C#) ao fazer jogos na Unity com 12 anos. Hoje, com 20, estou focado em TypeScript e Angular.</p>
        </div>
        <div class="formacao">
            <p>Comecei o ensino superior em Análise e desenvolvimento de sistemas em 2023. Cursos sobre HTML5, CSS3, SCSS, NodeJS, Angular, TypeScript e JavaScript. Atualmente estudando <strong>TypeScript, Node e Angular.</strong> </p>
        </div>
        <div class="img">
            <img src="../../../assets/imgs/cod.jpg" class="imgCode" alt="">
        </div>
    </div>
</section>