@import '../../../scss/variables.scss';
@media screen and (min-width: 992px) {

:host {
    section {
        margin-top: 50px;

        width: 900px;
        padding-left: 19%;

        display: inline-block;
        text-align: center;

        p {
            font-size: 1.2em;
            line-height: 1.2;
            text-align: left;
            color: rgb(192, 191, 191);
            padding: 10px;
        }

        h2 {
            color: white;
        }   

        div {
            display: inline-block;
            margin-right: 20px;
            margin-top: 15px;
            text-align: center;
        }

        .experiencia {
            margin-top: 15px;

            width: 200px;
            height: 300px;

            background: $cinza-claro;
            border-radius: 10px;

            box-shadow: 1px 1px 5px rgba(255, 255, 255, 0.164);
        }

        .formacao {
            margin-top: 15px;

            width: 200px;
            height: 300px;

            background: $cinza-claro;
            border-radius: 10px;

            box-shadow: 1px 1px 5px rgba(255, 255, 255, 0.164);
        }

        img {
            width: 200px;
            border-radius: 10px;
        }
    }
}
}
@media screen and (min-width: 768px) and (max-width: 992px) {
    :host {
        section {
            margin-top: 50px;
    
            width: 900px;
            padding-left: 19%;
    
            display: inline-block;
            text-align: center;
    
            p {
                font-size: 1.2em;
                line-height: 1.2;
                text-align: left;
                color: rgb(192, 191, 191);
                padding: 10px;
            }
    
            h2 {
                color: white;
            }   
    
            div {
                display: inline-block;
                margin-right: 20px;
                margin-top: 15px;
                text-align: center;
            }
    
            .experiencia {
                margin-top: 15px;
    
                width: 200px;
                height: 300px;
    
                background: $cinza-claro;
                border-radius: 10px;
    
                box-shadow: 1px 1px 5px rgba(255, 255, 255, 0.164);
            }
    
            .formacao {
                margin-top: 15px;
    
                width: 200px;
                height: 300px;
    
                background: $cinza-claro;
                border-radius: 10px;
    
                box-shadow: 1px 1px 5px rgba(255, 255, 255, 0.164);
            }
    
            img {
                width: 200px;
                border-radius: 10px;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    :host {
        section {
            margin-top: 50px;
            width: 300px;
    
            display: inline-block;
            text-align: center;

            .imgCode {
                display: none;
            }
    
            p {
                font-size: 1.2em;
                line-height: 1.2;
                text-align: left;
                color: rgb(192, 191, 191);
                padding: 10px;
            }
    
            h2 {
                color: white;
            }   
    
            div {
                display: inline-block;
                margin-left: 19%;
                margin-top: 15px;
                text-align: center;
            }
    
            .experiencia {
                margin-top: 15px;
                
                width: 200px;
                height: 300px;
    
                background: $cinza-claro;
                border-radius: 10px;
    
                box-shadow: 1px 1px 5px rgba(255, 255, 255, 0.164);
            }
    
            .formacao {
                margin-top: 15px;
    
                width: 200px;
                height: 300px;
    
                background: $cinza-claro;
                border-radius: 10px;
    
                box-shadow: 1px 1px 5px rgba(255, 255, 255, 0.164);
            }
    
            img {
                width: 200px;
                border-radius: 10px;
            }
        }
    }
}