<section id="last">
    <h2 id="about">Minhas redes sociais</h2>
    <div id="rs">
        <a href="https://www.instagram.com/willianctti/" target="_blank"><img src="assets/icons/insta.png" alt="Instagram"></a>
        <a href="https://github.com/willianctti" target="_blank"><img src="assets/icons/git.png" alt="GitHub"></a>
        <a href="https://www.linkedin.com/in/willian-nicoletti-b05005258/" target="_blank"><img src="assets/icons/in.png" alt="Linkedin"></a>
    </div>


    <h5>Você pode ver mais projetos em meu GitHub. Fique a vontade :)</h5>

    <a href="https://github.com/willianctti" target="_blank" style="text-decoration: underline; color: white;">
        <h1 style="margin-bottom: 15px;">Bora trabalhar juntos? > </h1>
    </a>
</section>