@import "../../../scss/variables.scss";
@media screen and (min-width: 992px) {

:host {
section {
    background: $cinza-claro;
    width: 950px;
    height: 400px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin-top: 30px;

    border-radius: 10px;


    h1 {
        color: white;
    }
}

#allCards {
    display: flex;
    justify-content: center;
    
}

.cards {
    padding-top: 30px;
    margin: 10px;
    width: 200px;
    height: 200px;

    background: linear-gradient(45deg, rgba(224, 175, 175, 0.455), #c7c6bea9, #f1f1f18e);
    animation: colors 4s ease infinite;
    background-size: 300%, 300%;

    border-radius: 30px;
    justify-content: center;
    text-align: center;
    
    font-size: 1.2em;
    color: white;
    box-shadow: 1px 1px 3px rgba(165, 162, 162, 0.448);
    
    transition: 0.3s ease;
}

@keyframes colors {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
    
}
 div.cards:hover {
    width: 220px;
    height: 220px;
    background: linear-gradient(45deg, rgb(245, 187, 187), #cececec3, #f5bca6);
    animation: colors 7s ease infinite;
    background-size: 300%, 300%;
} 

.cards a {
    color: rgba(236, 236, 236, 0.75);
    text-shadow: 1px 1px 1px rgb(232, 232, 227);
}

    }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    :host {
        section {
            background: $cinza-claro;
            width: 950px;
            height: 400px;
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        
            margin-top: 30px;
        
            border-radius: 10px;
        
        
            h1 {
                color: white;
            }
        }
        
        #allCards {
            display: flex;
            justify-content: center;
            
        }
        
        .cards {
            padding-top: 30px;
            margin: 10px;
            width: 200px;
            height: 200px;
        
            background: linear-gradient(45deg, rgba(224, 175, 175, 0.455), #c7c6bea9, #f1f1f18e);
            animation: colors 4s ease infinite;
            background-size: 300%, 300%;
        
            border-radius: 30px;
            justify-content: center;
            text-align: center;
            
            font-size: 1.2em;
            color: white;
            box-shadow: 1px 1px 3px rgba(165, 162, 162, 0.448);
            
            transition: 0.3s ease;
        }
        
        @keyframes colors {
            0% {
                background-position: 0% 50%;
            }
            50% {
                background-position: 100% 50%;
            }
            100% {
                background-position: 0% 50%;
            }
            
        }
         div.cards:hover {
            width: 220px;
            height: 220px;
            background: linear-gradient(45deg, rgb(245, 187, 187), #cececec3, #f5bca6);
            animation: colors 7s ease infinite;
            background-size: 300%, 300%;
        } 
        
        .cards a {
            color: rgba(236, 236, 236, 0.75);
            text-shadow: 1px 1px 1px rgb(232, 232, 227);
        }
        
            }
        }

        @media screen and (max-width: 768px) {
            :host {
                section {
                    background: $cinza-claro;
                    width: 350px;
                    height: 500px;
                    margin: auto;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                
                    margin-top: 30px;
                
                    border-radius: 10px;
                
                
                    h1 {
                        color: white;
                    }
                }
                
                #allCards {
                    display: flex;
                    justify-content: center;
                    
                }
                
                .cards {
                    padding-top: 30px;
                    margin: 10px;
                    width: 70px;
                    height: 300px;
                
                    background: linear-gradient(45deg, rgba(224, 175, 175, 0.455), #c7c6bea9, #f1f1f18e);
                    animation: colors 4s ease infinite;
                    background-size: 300%, 300%;
                
                    border-radius: 30px;
                    justify-content: center;
                    text-align: center;
                    
                    font-size: 1.2em;
                    color: white;
                    box-shadow: 1px 1px 3px rgba(165, 162, 162, 0.448);
                    
                    transition: 0.3s ease;
                }
                
                @keyframes colors {
                    0% {
                        background-position: 0% 50%;
                    }
                    50% {
                        background-position: 100% 50%;
                    }
                    100% {
                        background-position: 0% 50%;
                    }
                    
                }
                .cards a {
                    color: rgba(236, 236, 236, 0.75);
                    text-shadow: 1px 1px 1px rgb(232, 232, 227);
                }
                
                    }
        }