<section id="projects">
    <h1>Projetos</h1>
    
    <main>
        <div id="allCards">
            <div class="cards">
                <h3>Tela de <br> Previsão do tempo</h3>
                App de previsão do tempo <br>
                <a class="aCards" href="https://willianctti.github.io/previs-o-do-tempo-com-typescript/" target="_blank">Ver agora</a>
            </div>
    
            <div class="cards">
                <h3>Netflix</h3>
                Recriação da Netflix responsiva. <br>
                <a class="aCards"  href="https://willianctti.github.io/Projeto-netflix/" target="_blank">Ver agora</a>
            </div>
            <div class="cards">
                <h3>Crono.</h3>
                Um crono
                metro simples usando JavaScript <br>
                <a class="aCards"  href="https://willianctti.github.io/projeto-cronometro/" target="_blank">Ver agora</a>
            </div>
    
            <div class="cards">
                <h3>To-Do.</h3>
               Lista To-Do com Angular e TS. <br>
                <a class="aCards"  href="https://willianctti.github.io/apptodo/" target="_blank">Ver agora</a>
            </div>
        </div>
    </main>
</section>